/** font import **/
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* color palette */
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --dark-gray: hsl(220, 15%, 55%);
  --blue: hsl(218, 44%, 22%);
}

body {
  background-color: var(--light-gray);
  font-family: "Outfit", sans-serif;
  font-size: 0.938rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.qr-component {
  background-color: var(--white);
  padding: 1rem;
  max-width: 20em;
  max-height: min-content;
  border-radius: 10px;
  margin: auto;
}

.qr-img {
  display: block;
  margin: 0 auto 1em;
  width: 18em;
  border-radius: 10px;
}

.title {
  font-size: 1.375rem;
  color: var(--dark-blue);
  margin-bottom: 1em;
  text-align: center;
}

.description {
  font-size: 1rem;
  font-weight: 400;
  color: var(--grayish-blue);
  padding: 0 1em;
  margin-bottom: 1.5em;
  text-align: center;
}
